<form [formGroup]="candidateForm" class="form-content">

    <mat-form-field appearance="fill" class="name">
      <mat-label>Nome Completo</mat-label>
      <input formControlName="name" type="text" matInput placeholder="Nome do Candidato">
      <mat-error *ngIf="candidateForm.get('name').hasError('required')">Preencha o Nome Completo.</mat-error>
      <mat-error *ngIf="candidateForm.get('name').hasError('minlength')">Preencha o Nome <b>Completo</b> do Candiato.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="age">
      <mat-label>Idade</mat-label>
      <input formControlName="age" type="number" matInput>
      <mat-error *ngIf="candidateForm.get('age').hasError('required')">Preencha a idade.</mat-error>
      <mat-error *ngIf="candidateForm.get('age').hasError('min')">Idade mínima é 18 anos.</mat-error>
      <mat-error *ngIf="candidateForm.get('age').hasError('max')">Idade máxima é 99 anos.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="contactNumber">
      <mat-label>Número para contato</mat-label>
      <input formControlName="contactNumber" mask="(00) 00000-0000" type="text" matInput>
      <mat-error *ngIf="candidateForm.get('contactNumber').hasError('required')">Preencha o campo Número</mat-error>
      <mat-error *ngIf="candidateForm.get('contactNumber').hasError('minlength')">Preencha o campo Número <b>com DDD</b>.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="weight">
      <mat-label>Peso (KG)</mat-label>
      <input formControlName="weight" type="number" matInput>
      <mat-error *ngIf="candidateForm.get('weight').hasError('required')">Preencha o Peso.</mat-error>
      <mat-error *ngIf="candidateForm.get('weight').hasError('max')">Peso máximo é de 150 KG.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="height">
      <mat-label>Altura</mat-label>
      <input formControlName="height" mask="0.00" type="text" maxlength="4" matInput>
      <mat-error *ngIf="candidateForm.get('height').hasError('required')">Preencha a Altura.</mat-error>
      <mat-error *ngIf="candidateForm.get('height').hasError('min')">Altura mínima <b>1.40</b>.</mat-error>
      <mat-error *ngIf="candidateForm.get('height').hasError('max')">Altura máxima <b>2.00</b>.</mat-error>
    </mat-form-field>

    <mat-form-field (click)="filterStates()" appearance="fill" class="w-50">
      <mat-label>Estado que reside</mat-label>
      <input type="text"
        matInput
        formControlName="state"
        [matAutocomplete]="auto">
      <mat-error *ngIf="candidateForm.get('state').hasError('required')">Preencha o Estado.</mat-error>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-50" formGroupName="passport">
      <mat-label>Validade do Passaporte</mat-label>
      <input formControlName="expirationDate" type="date" [min]="currentDate | date: 'yyyy-MM-dd'"  matInput>
      <!-- <mat-error *ngIf="candidateForm.controls.passport.get('expirationDate').hasError('required')">Preencha a Validade do Passaporte.</mat-error> -->
    </mat-form-field>

    <ng-container appearance="fill" class="w-full" *ngFor="let modality of modalities">
      <!-- <input formControlName="balletDancer" type="checkbox"> -->
      <mat-checkbox formArrayName="modality" (change)="onClickCheckbox($event)" [value]="modality.value" [checked]="modality.checked" class="mat-checkboxes">
        {{ modality.name }}
      </mat-checkbox>
      <!-- <mat-error *ngIf="candidateForm.controls.passport.get('expirationDate').hasError('required')">Preencha a Validade do Passaporte.</mat-error> -->
    </ng-container>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Já viajou antes? Se sim, pra onde?</mat-label>
      <input formControlName="traveled" type="text" matInput>
    </mat-form-field>

    <div formGroupName="social" class="w-full">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Perfil do Instagram (@)</mat-label>
        <input formControlName="instagram" type="text" matInput>
        <!-- <mat-error *ngIf="candidateForm.controls.social.get('instagram').hasError('required')">Preencha o campo Instagram.</mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Perfil do Facebook (@)</mat-label>
        <input formControlName="facebook" type="text" matInput>
        <!-- <mat-error *ngIf="candidateForm.controls.social.get('facebook').hasError('required')">Preencha o campo Facebook.</mat-error> -->
      </mat-form-field>
    </div>

    <div class="btn-next-content">

      <app-shared-button
        *ngIf="formType === 'create'"
        [title]="'Salvar e Avançar'" (click)="saveAndContinue()"
        [loading]="isLoading"
        [ngClass]="{'disabled' : !candidateForm.valid}"
        [disabled]="!candidateForm.valid"
      >
      </app-shared-button>

      <app-shared-button
        *ngIf="formType === 'update'"
        [title]="'Atualizar'" (click)="updateCandidate(candidateForm.value)"
        [loading]="isLoading"
        [ngClass]="{'disabled' : !candidateForm.valid}"
        [disabled]="!candidateForm.valid"
      >
      </app-shared-button>

    </div>

  </form>
