.page-header {

  display: flex;
  align-items: center;
  justify-content: space-between;

  .page-title {

    color: #444953;
    margin: 10px 0 0 10px;
    font-weight: 500;

  }

  .page-description {

    color: #80858F;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 1rem;
    margin: 10px 0 0 10px;

  }

}

h1, p {

  color: #444953;

}
